<%- include('header'); -%>

    <div class="box" id="heading">
      <% if (dayOfWeek==="Saturday" || dayOfWeek==="Sunday") { %>
        <h1 style="background-color:MediumSeaGreen; text-align:center;"><%=dayOfWeek%></h1>
      <%}else{%>
        <h1 style="background-color:Tomato; text-align:center;"><%=dayOfWeek%></h1>
      <%}%>
      <h2><%=listName%></h2>
    </div>

    <div class="box">
      <%taskListItems.forEach(function(item){%>
        <form action="/delete" method="post">
          <div class="item">
            <input type="hidden", name="endpoint" value="<%=listName%>">
            <input type="checkbox", name="itemId", value="<%=item._id%>", onChange="this.form.submit()">
            <p><%=item.name%></p>
          </div>
        </form>
      <%})%>
      
    <form class="item" action="/" method="post">
      <input type="text" name="newItem" placeholder="New Item" autocomplete="off" required>
      <button type="submit" name="endpoint" value="<%=listName%>">+</button>
  </form>
</div>

<%- include('footer'); -%>